.my-content {
  position: absolute;
  top: 44px;
  bottom: 50px;
  width: 100%;
  background-color: #f5f5f5;
}
.my-content .category-left {
  width: 80px;
  height: 100%;
  float: left;
  background-color: #fff;
  position: relative;
}
.my-content .category-left .links .active {
  background-color: #ddd;
  border-right: 1px solid transparent;
}
.my-content .category-left a {
  height: 45px;
  display: block;
  text-align: center;
  line-height: 45px ;
  color: #000;
  font-size: 14px;
  border-bottom: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
}
.my-content .category-right {
  height: 100%;
  margin-left: 90px;
  position: relative;
}
.my-content .category-right .brand-list {
  margin-top: 10px;
  background-color: #fff;
}
.my-content .category-right li {
  width: 33.33%;
  float: left;
}
.my-content .category-right li a {
  display: block;
}
.my-content .category-right li a p {
  text-align: center;
}
.my-content .category-right li a img {
  width: 100%;
}
